---
import { navigationConfig, siteConfig } from '~/site.config'

const links = navigationConfig.footer
const footerText = siteConfig.footer
---

<footer>
  <div class="py-4 flex-none border-x border-border/50 global-layout-width mx-auto">
    <div class="pb-8">
      <nav
        class="flex flex-wrap gap-x-3 sm:gap-x-6 gap-y-1 text-sm font-medium text-muted-foreground pb-4 px-6 sm:px-8 border-b border-border/50"
        aria-label="Footer"
      >
        {
          links.map((link) => (
            <a
              href={link.href}
              class="transition text-muted-foreground/80 hover:text-zinc-900 dark:hover:text-white"
            >
              {link.label}
            </a>
          ))
        }
      </nav>

      <div class="text-sm text-muted-foreground px-6 sm:px-8 py-4">
        <div class="font-medium whitespace-pre-line">
          {footerText}
        </div>
      </div>
    </div>
  </div>
</footer>
