<button
  type="button"
  data-theme-toggle
  class="inline-flex items-center justify-center text-foreground cursor-pointer hover:scale-105 size-6 origin-center relative"
  aria-label="Toggle theme"
>
  <span
    class="icon-[tabler--sun-filled] absolute left-1/2 top-1/2 size-6 -translate-x-1/2 -translate-y-1/2 transition-[transform,opacity] duration-[420ms] ease-in-out opacity-100 rotate-0 scale-100 dark:opacity-0 dark:rotate-180 dark:scale-[0.6]"
    aria-hidden="true"
  />
  <span
    class="icon-[tabler--moon-filled] absolute left-1/2 top-1/2 size-6 -translate-x-1/2 -translate-y-1/2 transition-[transform,opacity] duration-[420ms] ease-in-out opacity-0 -rotate-180 scale-[0.6] dark:opacity-100 dark:rotate-0 dark:scale-100"
    aria-hidden="true"
  />
</button>
