<div class="relative z-[1]">
  <section class="standard-content-pane">
    <div class="standard-scene-header">
      <slot name="header" />
    </div>
    <div class="standard-scene-body">
      <slot />
    </div>
  </section>
</div>
